{% extends "musics/index.html" %} {% block main_content %} {% load static %}
<div class="main-content">
  <h1>Welcome To Music Mood</h1>
  <div class="row">
    <div class="col-lg-5 col-xl-4 grid-margin grid-margin-xl-0 stretch-card">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-baseline mb-2">
            <h6 class="card-title mb-0">Artist</h6>
            <div class="dropdown mb-2">
              <button
                class="btn p-0"
                type="button"
                id="dropdownMenuButton6"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <i class="fas fa fa-bars"></i>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton6">
                <a class="dropdown-item d-flex align-items-center" href="#"
                  ><i class="fas fa fa-eye mr-2"></i
                  ><span class="span-artist"> View</span></a
                >
                <a class="dropdown-item d-flex align-items-center" href="#"
                  ><i class="fas fa fa-edit mr-2"></i
                  ><span class="span-artist"> Edit</span></a
                >
                <a class="dropdown-item d-flex align-items-center" href="#"
                  ><i class="fas fa fa-upload mr-2"></i
                  ><span class="span-artist"> Delete</span></a
                >
                <a class="dropdown-item d-flex align-items-center" href="#"
                  ><i class="fas fa fa-print mr-2"></i
                  ><span class="span-artist"> Print</span></a
                >
                <a class="dropdown-item d-flex align-items-center" href="#"
                  ><i class="fas fa fa-download mr-2"></i
                  ><span class="span-artist"> Download</span></a
                >
              </div>
            </div>
          </div>
          <div class="d-flex flex-column">
            <a href="#" class="d-flex align-items-center border-bottom pb-3">
              <div class="mr-3">
                <img
                  src="{% static 'musics/images/faces/face1.jpg' %}"
                  class="rounded-circle wd-35"
                  alt="user"
                />
              </div>
              <div class="w-100 artist" data-artist="leonardo payne">
                <div class="d-flex justify-content-between">
                  <h6 class="mb-1">Leonardo Payne</h6>
                  <p class="text-muted tx-12">12.30 PM</p>
                </div>
                <p class="text-muted tx-13">Hey! there I'm available...</p>
              </div>
            </a>
            <a href="#" class="d-flex align-items-center border-bottom py-3">
              <div class="mr-3">
                <img
                  src="{% static 'musics/images/faces/face2.jpg' %}"
                  class="rounded-circle wd-35"
                  alt="user"
                />
              </div>
              <div class="w-100 artist" data-artist="carl Henson">
                <div class="d-flex justify-content-between">
                  <h6 class="mb-2">Carl Henson</h6>
                  <p class="text-muted tx-12">02.14 AM</p>
                </div>
                <p class="text-muted tx-13">I've finished it! See you so..</p>
              </div>
            </a>
            <a href="#" class="d-flex align-items-center border-bottom py-3">
              <div class="mr-3">
                <img
                  src="{% static 'musics/images/faces/face3.jpg' %}"
                  class="rounded-circle wd-35"
                  alt="user"
                />
              </div>
              <div class="w-100 artist" data-artist="Jensen Combs">
                <div class="d-flex justify-content-between">
                  <h6 class="mb-2">Jensen Combs</h6>
                  <p class="text-muted tx-12">08.22 PM</p>
                </div>
                <p class="text-muted tx-13">This template is awesome!</p>
              </div>
            </a>
            <a href="#" class="d-flex align-items-center border-bottom py-3">
              <div class="mr-3">
                <img
                  src="{% static 'musics/images/faces/face4.jpg' %}"
                  class="rounded-circle wd-35"
                  alt="user"
                />
              </div>
              <div class="w-100 artist" data-artist="Amiah Burton">
                <div class="d-flex justify-content-between">
                  <h6 class="mb-2">Amiah Burton</h6>
                  <p class="text-muted tx-12">05.49 AM</p>
                </div>
                <p class="text-muted tx-13">Nice to meet you</p>
              </div>
            </a>
           
          
           
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="col" id="hide" style="display: none;">
      <div class="card">
        <div class="card-header">
          <h1 id="artist"></h1>
        </div>
        <div class="card-body">
          Songs
          <table class="table w-100">
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Album</th>
            </tr>
            <tr>
              <td>1</td>
              <td>NobleUI</td>
              <td>Released</td>
            </tr>
            <tr>
              <td>1</td>
              <td>NobleUI</td>
              <td>Released</td>
            </tr>
            <tr>
              <td>1</td>
              <td>NobleUI</td>
              <td>Released</td>
            </tr>
            <tr>
              <td>1</td>
              <td>NobleUI</td>
              <td>Released</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
