{% extends "musics/index.html" %} 
{% block main_content %}
<div class="main-content">
<h1>Welcome To Music Mood</h1>
{% comment %} metrics row {% endcomment %}
  <div class="row">
    <div class="col-12 col-xl-12 stretch-card">
    <div class="row flex-grow">
    {% comment %} 1 st card  {% endcomment %}
    <div class="col-md-4 grid-margin stretch-card">
    <div class="card">
    <div class="card-body">
     <div class="d-flex justify-content-between align-items-baseline">
      <h6 class="card-title mb-0">New Songs</h6>   
       </div>
       <div class="row">
                <div class="col-6 col-md-12 col-xl-5">
                  <h3 class="mb-2">3,897</h3>
                  <div class="d-flex align-items-baseline">
                    <p class="text-success">
                      <span>+3.3%</span>
                      <i data-feather="arrow-up" class="icon-sm mb-1"></i>
                    </p>
                  </div>
                </div>
                <div class="col-6 col-md-12 col-xl-7">
                  <div id="apexChart1" class="mt-md-3 mt-xl-0"></div>
                </div>
              </div>

    </div>
    </div>
    </div>
    {% comment %} 1st card end{% endcomment %}
    {% comment %} 2nd card {% endcomment %}
    <div class="col-md-4 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-baseline">
                <h6 class="card-title mb-0">Plays</h6>


              </div>
              <div class="row">
                <div class="col-6 col-md-12 col-xl-5">
                  <h3 class="mb-2">35,084</h3>
                  <div class="d-flex align-items-baseline">
                    <p class="text-danger">
                      <span>-2.8%</span>
                      <i data-feather="arrow-down" class="icon-sm mb-1"></i>
                    </p>
                  </div>
                </div>
                <div class="col-6 col-md-12 col-xl-7">
                  <div id="apexChart2" class="mt-md-3 mt-xl-0"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
    {% comment %} 2nd card in row end {% endcomment %}
    {% comment %} 3rd card in row  {% endcomment %}
    <div class="col-md-4 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-baseline">
                <h6 class="card-title mb-0">Growth</h6>

              </div>

              <div class="row">
                <div class="col-6 col-md-12 col-xl-5">
                  <h3 class="mb-2">89.87%</h3>
                  <div class="d-flex align-items-baseline">
                    <p class="text-success">
                      <span>+2.8%</span>
                      <i data-feather="arrow-up" class="icon-sm mb-1"></i>
                    </p>
                  </div>
                </div>
                <div class="col-6 col-md-12 col-xl-7">
                  <div id="apexChart3" class="mt-md-3 mt-xl-0"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
    {% comment %} 3rd card in row end {% endcomment %}
    </div>
    </div>
  </div>
  {% comment %} metrics row end {% endcomment %}

</div>
{% endblock %}
