{% extends "musics/index.html" %}


{% block main_content %}

<div class="main-content">
{% comment %}begin{% endcomment %}
<h3>Welcome To MusicMood</h3>
<br>
<div>
<h4 class="mb-3 mb-md-0">Recently played</h4>
</div>
<br>
{% comment %} card deck {% endcomment %}
<div class="card-deck">
{% comment %} designing card {% endcomment %}
<div class="card">
<img src="musics/profile3.jpg" class="card-img-top" alt="pic">
        <div class="card-body">
            <h5 class="card-title">TREY GUZO</h5>
            <p class="card-text">This is new music.</p>
        </div>
</div>
{% comment %} end of designing card {% endcomment %}
{% comment %} second card designing {% endcomment %}
<div class="card">
        <img src="assets/images/sample1.jpg" class="card-img-top" alt="pic">
        <div class="card-body">
            <h5 class="card-title">TREY GUZO</h5>
            <p class="card-text">This is new music.</p>
        </div>
    </div>
{% comment %} end second card designing {% endcomment %}
{% comment %} 3rd card designing {% endcomment %}
<div class="card">
        <img src="assets/images/sample1.jpg" class="card-img-top" alt="pic">
        <div class="card-body">
            <h5 class="card-title">TREY GUZO</h5>
            <p class="card-text">This is new music.</p>
        </div>
    </div>
{% comment %} end of 3rd card {% endcomment %}
</div>
{% comment %} card deck end {% endcomment %}
<br>
{% comment %} next section in browse#song {% endcomment %}
<div>
<h4 class="mb-3 mb-md-0">Featured Station</h4>
</div>
<br>
{% comment %} card deck {% endcomment %}
<div class="card-deck">
{% comment %} designing card {% endcomment %}
<div class="card">
<img src="musics/profile3.jpg" class="card-img-top" alt="pic">
        <div class="card-body">
            <h5 class="card-title">TREY GUZO</h5>
            <p class="card-text">This is new music.</p>
        </div>
</div>
{% comment %} end of designing card {% endcomment %}
{% comment %} second card designing {% endcomment %}
<div class="card">
        <img src="assets/images/sample1.jpg" class="card-img-top" alt="pic">
        <div class="card-body">
            <h5 class="card-title">TREY GUZO</h5>
            <p class="card-text">This is new music.</p>
        </div>
    </div>
{% comment %} end second card designing {% endcomment %}
{% comment %} 3rd card designing {% endcomment %}
<div class="card">
        <img src="assets/images/sample1.jpg" class="card-img-top" alt="pic">
        <div class="card-body">
            <h5 class="card-title">TREY GUZO</h5>
            <p class="card-text">This is new music.</p>
        </div>
    </div>
{% comment %} end of 3rd card {% endcomment %}
</div>
{% comment %} card deck end {% endcomment %}
{% comment %} next section end#song {% endcomment %}

<br>



{% comment %}end  {% endcomment %}
</div>
{% endblock %}